
# wipe: first Thursday 6:45pm with 5 minute warning
40 18 * * 4 [ "$(date +\%d)" -le 7 ] && docker exec rust-admin ./wipe.py 300

# backup: every 30 minutes
*/30 * * * * docker exec rust-admin ./backup.sh

# restart every 3 days at 2:45am with 15 minute warning
30 2 */3 * * docker exec rust-admin ./rcon.py restart 900

# just in case
@reboot sleep 1800 && docker exec rust-server rm -rf ../new_version/updating.lock

# https://crontab.guru